


$primary: #AAFFC7;
$success:rgb(39, 191, 39);
$danger: #ff625a;
$info: #124170;
$warning:#2c71d2;


$navbar-light-hover-color: #4DFFBE;
$navbar-light-active-color: #4DFFBE;

.navbar-light .navbar-nav .nav-link.active {
    background-color: #AAFFC7; // Change this to your desired background
     color: #4C8CE4 ;
}

@import "bootstrap/scss/bootstrap";
